@model IEnumerable<Gnome.Web.Model.ViewModel.Account>
@{
    Layout = "_Layout";
}

<h3>accounts</h3>

<table class="table table-striped">
    @foreach (var account in Model)
    {
        <tr>
            <td>
                @Html.RouteLink(@account.Name, Gnome.Web.Configuration.RouteNames.TransactionList, new { accountId = account.Id })
            </td>
            <td>
                <a href="/account/settings/@account.Id">edit</a>
            </td>
        </tr>
    }
</table>

<form method='post' action='/account'>
    <input type="hidden" value="Account Name" name="Name" />
    <input class='btn btn-default' value='create new' type='submit' />
</form>