@model Gnome.Web.Model.ViewModel.MaskedTransactionList

@{
    Layout = "_Layout";
}

<h3>transactions</h3>

<table class="table table-striped">
    <tr>
        @foreach (var field in Model.Mask.Fields)
        {
            <td>@field</td>
        }
    </tr>

    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            @foreach (var keyPair in transaction.Fields)
            {
                <td>@keyPair.Value</td>
            }
        </tr>
    }
</table>