@model Gnome.Web.Model.ViewModel.MaskedTransactionList

@{
    Layout = "_Layout";
}

<h3>transactions</h3>

<table class="table table-striped">
    <tr>
        @foreach (var mask in Model.Mask.Fields)
        {
            <th>@mask</th>
        }
    </tr>

    @foreach (var transaction in Model.Transactions)
    {
        <tr>
            @foreach (var mask in Model.Mask.Fields)
            {
                <td>@transaction.Fields[mask]</td>
            }
        </tr>
    }
</table>